/* accordion styles */
.accordion {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
} 
/* radio inputs */
.accordion input[name='panel'] {
  display: none;
}
/* labels */
.accordion label {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 1em;
  background-color: #E6E2DA;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  /* box-shadow: inset 0 2px 0 #fff; */
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #666;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion label:after {
  content: '\002316';
  position: absolute;
  right: 1em;
  width: 1.6em;
  height: 1.6em;
  color: #eee;
  text-align: center;
  border-radius: 50%;
  background: #268bd2;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
.accordion label:hover, .accordion label:hover:after {
  color: #8f5536;
  /* color: #2980b9; */
}
.accordion input:checked + label {
  color: #2980b9;
}
.accordion input:checked + label:after {
  content: '\002718';
  /* adjsut line-height to vertically center icon */
  /* line-height: .9em; */
}
/* panel content */
.accordion .accordion_content {
  overflow: hidden;
  max-height: 0em;
  position: relative;
  padding: 0 1.5em;
  box-shadow: inset 4px 0 0 0 #2980b9, inset 0 3px 6px rgba(0, 0, 0, 0.75);
  background: #444;
  background: linear-gradient(to bottom, #444444 0%, #222222 100%);
  color: #eee;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion .accordion_content:not(:last-of-type) {
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #2980b9, inset 0 3px 6px rgba(0, 0, 0, 0.75);
}
.accordion .accordion_content .accordion_header {
  padding: 1em 0;
}
.accordion .accordion_content .accordion_body {
  font-size: .825em;
  line-height: 1.4em;
  padding: 0 0 1.5em;
}
input[name='panel']:checked ~ .accordion_content {
  /* set close to maximum accordion content height */
  max-height: 150em;
}