<head>
  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- TITLE -->
  <title>
    {% if page.title == "Home" %}
      {{ site.tagline }} of {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{base}}/styles/css/main.css">
  <link rel="stylesheet" href="{{base}}/styles/css/syntax.css">
  <link rel="stylesheet" href="{{base}}/styles/css/custom.css">
  <link rel="stylesheet" href="{{base}}/styles/css/accordion.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{base}}/styles/favicons/apple-touch-icon-144-Griffin_icon.png">
  <link rel="shortcut icon" href="{{base}}/styles/favicons/Griffin_favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>