<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div style="display:flex; align-items:center;">
        <img id="avatar" src="/IMAGES/Griffith_griffin.png" alt="avatar" height="auto" width="70%">
      </div>
      <div style="text-align:center;">
        <p id="site_description">{{site.description}} of:</p>
      </div>
      <h1 style="text-align:center; clear:both;">
        <a id="siteNameTitle" href="/about/">
          {{site.author.name}}
        </a>
      </h1>
    </div>
    <!-- NAVIGATION -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">
        <span> HOME</span>
      </a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/coding-blog/index.html">
        <span> Coding-Blog</span>
      </a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter.
      {% endcomment %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{node.url}}"> {{node.title}}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <br>  
      <a id="T_handle" class="lead" href="https://twitter.com/BFGriffith" target="_blank">
        <h2 style="text-align:center !important; margin-bottom:0;">
          <span><img id="bluebird" src="/IMAGES/bluebird.png" alt="Twitter handle = "> @BFGriffith</span>
        </h2>
      </a>
    </nav>
  </div>
</div>